*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
body{
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    color: #555;
 }

.place-list{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	grid-gap: 50px;
	margin: 50px auto;
	max-width: 1240px;
	padding: 20px;
}

.obj{
	padding: 10px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.obj img{
    max-width: 100%;
    display: block;
    height: 5cm;
}

